<section id="login">
    <div class="auth-form py-5">
        <div class="text-center">
            <img src="/../assets/images/logo.svg">
        </div>
       <div class="px-5">
        <h2>Login</h2>
        <p>Welcome back! Please enter your details</p>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen" style="color: #8391A1;"></i></span>
            <input type="text" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock" style="color: #8391A1;"></i></span>
            <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <button class="w-100 main">Login</button>
       </div> 
    </div>

</section>
