#home{
    background-image: url(../../../assets/images/background.png);
    background-position: center center;
    background-color: #009247;
    background-repeat: no-repeat;
    border-radius: 24px;
    color: white;
    margin-top: 10px;
}
#fill-recipes{
    background-color: #f0ffef;
    margin: 20px 10px;
    padding: 25px 20px;
    border-radius: 20px;
}