<section id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 p-5">
              <h2><span>Welcome</span><span class="mx-2 lead text-white-50 fa-1x">{{userName}} !</span></h2>
                <p class="pt-2">This is a welcoming screen for the entry of the application ,<br>
                    you can now see the options.
                </p>
            </div>
            <div class="col-6 text-end">
              <img src="../../../assets/images/eating vegan food-rafiki.png" class="w-50">
            </div>
        </div>
    </div>
</section>
<section id="fill-recipes">
    <div class="row  align-items-center">
        <div class="col-8">
            <h2>Fill the <span class="text-success">Recipes</span> !</h2>
            <p>you can now fill the meals easily using the table and form , click here and sill it with the table !</p>
        </div>
     <div class="col-4 text-end">
        <button class="main px-4">
            <span>Fill Recipes </span><span class="mx-2"><i class="fa-solid fa-arrow-right"></i></span></button>
     </div>
    </div>
    
</section>
