#categories{
    background-image: url(../../../assets/images/Rectangle.png);
    background-position: center center;
    background-color: #009247;
    background-repeat: no-repeat;
    border-radius: 24px;
    color: white;
    margin-top: 10px;
   
}
#addnewCategory{
    background-color: rgba(237, 237, 237, 0.455);
    margin: 20px 10px;

    border-radius: 20px;
}