#forgetPass{
    background-image: url(../../../assets/images/authbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgetPass-form{
    width: 45%;
    background-color: #fff;
    border-radius: 16px;
    padding: 15px 15px;
    h2{
        color: #494949;
    
      }
      p{
        color:rgba(73, 73, 73, 0.6);
      }
}