<section id="forgetPass">
    <div class="forgetPass-form py-5">
        <div class="text-center">
            <img src="/../assets/images/logo.svg">
        </div>
       <div class="px-5">
        <h2 class="mt-5">Forget your Password?</h2>
        <p class="mb-4">No Worries! Please enter your email and we will send a password reset link</p>
        <form [formGroup]="forgetForm" (ngSubmit)="onSubmit(forgetForm)">
        <div class="input-group mb-5 mt-5">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen" style="color: #8391A1;"></i></span>
            <input formControlName="email" type="text" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1">
           <div *ngIf="forgetForm.controls['email'].errors&&forgetForm.controls['email'].touched" class=" w-100 p-1">
              <p class="text-danger" *ngIf="forgetForm.controls['email'].errors['required']">email is required</p>
              <p class="text-danger" *ngIf="forgetForm.controls['email'].errors['email']">email should be valid mail</p>
          </div>
          </div>
   
          <button [disabled]="forgetForm.invalid" class="w-100 main">Submit</button>
        
        </form>
    </div>  
    </div> 
</section>

