<section>
    <div class="row justify-content-end ">
        <div class="col-4 px-4">
            <div class="d-flex align-items-center justify-content-end">
                <img src="/../assets/images/profile.png" class="">
                <h6 class="mt-2 p-3">{{userName}}</h6>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon><span class="material-symbols-outlined">
                        expand_more
                        </span></mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon><span class="material-symbols-outlined">
                        logout
                        </span></mat-icon>
                      <span (click)="myLogout()">Logout</span>
                    </button>
                  </mat-menu>
                  
            </div>
        </div>
    </div>
</section>
