#deleteCategory{
    .fa-circle-xmark{
        color: rgb(200, 29, 29) !important;
        font-size: 30px !important;
    }
    .btnClose{
        margin: 15px 10px;
       
    }
    .myPointer{
        cursor: pointer;
    }
}