#resetPass{
    background-image: url(../../../assets/images/authbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-form{
    width:40%;
    background-color: #fff;
    border-radius: 16px;
    padding: 20px 10px ;
    h2{
      color: #494949;
  
    }
    p{
      color:rgba(73, 73, 73, 0.6);
    }
}