<section id="resetPass">
    <div class="reset-form py-5">
        <div class="text-center">
            <img src="/../assets/images/logo.svg">
        </div>
       <div class="px-5">
        <h2>Reset Password</h2>
        <p>Please Enter Your OTP or Check Your Inbox</p>
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit(resetPassForm)">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen" style="color: #8391A1;"></i></span>
            <input formControlName="email" type="text" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1">
           <div *ngIf="resetPassForm.controls['email'].errors&&resetPassForm.controls['email'].touched" class=" w-100 p-1">
              <p class="text-danger" *ngIf="resetPassForm.controls['email'].errors['required']">email is required</p>
              <p class="text-danger" *ngIf="resetPassForm.controls['email'].errors['email']">email should be valid mail</p>
          </div>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen" style="color: #8391A1;"></i></span>
            <input formControlName="seed" type="text" class="form-control" placeholder="OTP" aria-label="Username" aria-describedby="basic-addon1">
           <div *ngIf="resetPassForm.controls['seed'].errors&&resetPassForm.controls['seed'].touched" class=" w-100 p-1">
              <p class="text-danger" *ngIf="resetPassForm.controls['seed'].errors['required']">OTP is required</p>
             
          </div>
          </div>
          <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock" style="color: #8391A1;"></i></span>
            <input class="position-relative" formControlName="password" [type]="hiden ? 'password' : 'text'" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            <a class="show-password" (click)="hiden = !hiden">
              <i class="fa-solid" [class]="hiden ? 'fa-eye-slash' : 'fa-eye'"></i>
            </a>
            <div *ngIf="resetPassForm.controls['password']?.errors && resetPassForm.controls['password']?.touched" class="w-100 p-1">
              <p class="text-danger" *ngIf="resetPassForm.controls['password']?.errors?.['required']">Password is required</p>
              <p class="text-danger" *ngIf="resetPassForm.controls['password']?.errors?.['pattern']">Password should start with a capital letter</p>
            </div>
            
          </div>
          <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock" style="color: #8391A1;"></i></span>
            <input class="position-relative" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            <a class="show-password" (click)="hide = !hide">
              <i class="fa-solid" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
            </a>
            <div *ngIf="resetPassForm.controls['password']?.errors && resetPassForm.controls['password']?.touched" class="w-100 p-1">
              <p class="text-danger" *ngIf="resetPassForm.controls['password']?.errors?.['required']">Password is required</p>
              <p class="text-danger" *ngIf="resetPassForm.controls['password']?.errors?.['pattern']">Password should start with a capital letter</p>
            </div>
            
          </div>
          
          <button  class="w-100 main">Reset Password</button>
        </form>
       </div> 
     
    </div>
</section>

