section{
    border-top-right-radius: 58px;
    ul{
        padding: 10px;
        li{
            padding: 10px;
            list-style: none;
          
            a{
                text-decoration: none;
               span{
                margin: 0 6px;
               }
            }
        }
    }
}