<section class="bg-dark vh-100">
    <div class="text-center py-5">
        <img src="/../assets/images/logowithoutText.svg">
    </div>
    <div>
        <ul>
            <ng-container *ngFor="let item of Menu">
             <li *ngIf="item.isActive">
            <a [routerLink]="[item.link]" class="text-white">
                <span><i [class]=item.icon></i></span>
                <span>{{item.text}}</span>
            </a>
           </li>
        </ng-container>
        </ul>
    </div>
</section>
