
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$foodApp-primary: mat.define-palette(mat.$indigo-palette);
$foodApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$foodApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$foodApp-theme: mat.define-light-theme((
  color: (
    primary: $foodApp-primary,
    accent: $foodApp-accent,
    warn: $foodApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($foodApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.auth-form{
  width:60%;
  background-color: #fff;
  border-radius: 16px;
  padding: 10px 0px ;
  h2{
    color: #494949;

  }
  p{
    color:rgba(73, 73, 73, 0.6);
  }
}
button{
  border-radius: 12px;
  border:none;
  color:#fff;

  &.main{
    background-color: #4AA35A;
    color: white;
    padding: 10px 8px ;
  }
  &.second{
    background-color: #4AA35A;
    color: white;
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
  }
}
.alert-danger{
  background-color: rgb(225, 96, 95) !important;
 
}
a{
  text-decoration-line: none;
  color: black;
}
.show-password{
  position: absolute;
  right: 5px;
 top:20px;
  transform: translateY(-50%);
}
.bg-dark{
  background-color:#1d253d !important;
  ;
}
#header{
  background-image: url(assets/images/header-bg-svg.svg);
  background-position: center center;
  background-color: #009247;
  background-repeat: no-repeat;
  border-radius: 24px;
  color: white;
  margin-top: 4px;
  height: 25vh;
}
#addnewItem{
  background-color: rgba(237, 237, 237, 0.455);
  margin: 20px 10px;
  border-radius: 20px;
  padding: 5px 10px;
}